    <script>
      
    </script>

    <div class="index_container">
        <div class="log_Kontainer">
            <%flash.each do |name, msg|%>
                    <div class="log_message"><%= msg %></div>
            <%end %>
        </div>
        <div class="log_container">
            <% if current_user %>
                <div>
                    <h3> you are Logged In<h3>
                    <h3> <%=link_to 'Log-Out', session_path('current'), method: "delete" %></h2>
                </div>
            <% else %>
                <a class="logo_link" href="/">
                    <div class="logo_mid">
                        <%= image_tag("icons/travel.png", :alt => "travel_icon", class: "logo_img") %> 
                        <h1> TravelPin </h1>
                    </div>
                </a>
                <h3>better way to keep your travel memory</h3>
                <div class="loginlinks">
                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <%=link_to 'log in ', "/session/new", class: "login100-form-btn log_font" %>
                        </div>
                    </div>
                </div>
                <div class="loginlinks">
                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <%=link_to 'sign up', "/users/new", class: "login100-form-btn log_font" %>
                        </div>
                    </div>
                </div>
                <div class="loginlinks">
                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <%=link_to 'demo', session_index_path(email: 'aa', password: 'aa'), method: 'post', id: "demo",  class: "login100-form-btn log_font" %>
                        </div>
                    </div>
                </div>  
            <% end %>
        </div>
    </div>
   





