<div class="limiter">
	<div class="container-login100">			
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
					<div class="log_message">
						<%flash.each do |name, msg|%>
							<%= msg %>
						<%end %>
					</div>

					<%= form_with model: @user, url: users_path, local: true, class: "login100-form validate-form" do |f| %>
						<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
						
							<% if @user.errors.any? %>
								<div class="log_message">	
								<% @user.errors.full_messages.each do |error| %>
									<div><%= error %></div>
								<% end %>
							</div>
							<% end %>
						
					<span class="login100-form-title p-b-49">
						SignUp
					</span>

					<div class="wrap-input100 validate-input m-b-23" data-validate = "Email is reauired">
						<span class="label-input100">Email</span>
							<%= f.text_field :email, class: "input100", placeholder: "Type your email" %><br>
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<span class="label-input100">Password</span>
							<%= f.text_field :password, class: "input100", placeholder: "Type your password" %><br>
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Password Confirmation is required">
						<span class="label-input100" style="margin: 2rem  0 0 3rem;"></span>
							<%= f.text_field :password_confirmation, class: "input100", placeholder: "Confirm your password" %><br>
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>
					
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							 <%= f.button "submit", class: "login100-form-btn", style: "margin-top: 1.6rem"%><br>
						</div>
					</div>

					<div class="login_link">
						<a href="/session/new" class="txt2">
							Log In
						</a>
					</div>
				<% end %>
			</div>
	</div>
</div>