  <div class="log_Kontainer">
            <%flash.each do |name, msg|%>
                    <div class="log_message"><%= msg %></div>
            <%end %>
        </div>

<hr>

<div class="phrame2">
    <li class="kard" style="padding: 1rem; width: 50%;">
                    
        <%=image_tag @post.image, class: "kard_image"%>

        <div class="kard_title" style="margin-top: 2.1rem;">
            <p><%= @post.country %><p>
        </div>

        <div class="kard_write"><p  style="padding: 1rem;"><%= @post.write %></p></div>

        <div class="links">
            
            <%= link_to 'edit', edit_user_post_path(@user, @post), class: "login100-social-item bg2 rink" %>
            <%= link_to 'delete',user_post_path(@user, @post), method: 'delete', class: "login100-social-item bg3 rink", data: { confirm: "are you sure?"} %>     
        </div>

        <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <button class= "login100-form-btn"><%=link_to 'Back Home', user_path(@user), class: "login100-form-btn no_text_decoration", style: "margin-top: 0.8rem;"%></button><br>
            </div>
        </div>
                
    </li>
</div>